.footer {
  color: white;
  font-family: 'Raleway', Raleway, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  line-height: .8;
  font-weight: 900;
  width: 100%;


}

h1#window-size {
  text-align: center;
}


body {
  font-family: 'Raleway', Raleway, Arial, sans-serif !important;
  font-size: 20px !important;
  font-weight: 300 !important;
  color: #111111 !important;
  line-height: 1.4 !important;
}

.sarahCurrey {
  text-align: center !important;
  text-transform: uppercase !important;
  font-size: 60px !important;
  line-height: .8 !important;
  font-weight: 900 !important;
}
.job-title {
   text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  line-height: .8;
  font-weight: 900;
}
.blog {
  text-align: center;
}
.projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*border: 1px solid;*/
  flex:1;
}



.draft {
  display: inline-flex;
}

#about {
  margin-left: 50%;
  position: absolute;
  left: 0;
  padding-top: 5%;
}
.aboot {
  margin-top: 5%;
}
.scurr {
  margin-left: 8%;
  width: 300px;
}

h2, h3, h4, h5, h6 {
  font-weight: 900;
}

header {
  background-image: url('https://i.imgur.com/LIOBDHj.png');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 14% 0 23% 0;
  position: relative;
  background-size: cover;
}

nav {
  position: absolute !important;
  width: 100% !important;
  text-align: center;
  top: 0 !important;
  left: 30%;

  font-size: 1.25em !important;
  text-transform: lowercase !important;

  color: black !important;
}

nav a {
  display: inline-block !important;
  margin: .5em 2% !important;
  padding-bottom: .125em !important;
}

nav a:hover, nav a.current {
  border-bottom: 1px solid !important;
}

#mobile {
  display: none !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

img {
  width: 50%;
/*  border: 1px solid;*/
}
.about {
  display: flex;
  background-color: #dddddd;
  justify-content: center;
}
#dancer {
  width: 70%;
}

#foodie {
  width: 100%;
}

#nashville {
  width: 80%;
  justify-content: center;
}

#cyclist {
width: 100%;
}

#world {
  width: 90%;
}

td {
  text-align: center;
font-weight: bold;
/*border: 1px solid;*/
width: 10%;

}

table {
/*  position: absolute;*/
  justify-content: center;
  border: 1px solid;
}

.thumbnail {
  width: 31.3333%;
  float: left;
  margin: 1%;
  display: block;
}

.thumbnail:hover {
  opacity: .9;
  filter: alpha(opacity=90);
}

section {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

 footer {
  background-color: #1364b9;
  border: 5px solid;
  padding: 30px;

}

footer p {
  display: inline-block;
}

 footer #social {
  float: right;
  color: #444;
}

 footer #social a {
  margin-left: .5em;
  color: black;
}

textarea {
  line-height: 1.4;
}


/*-------------------
  Home page
--------------------*/

.home section {
  padding: 1%;
  overflow: hidden;
}

.headProjects {
  text-align: center;
  padding-top: 3%;
}



.CardImg {
  width: 40%;
  height: 40%;

}

.cityscape {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/back_pic/04/49/55/11585b9f862bb3f.jpg');
  width: 700px;
  height: 400px;
  margin: 0;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: move 20s linear infinite;

}
.map {


}

.contactMe {
  display: inline-flex;
}

.hola {
  text-align: center;
  margin-top: 5%;
}

.seeking {
  padding-top: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

/*background animation to change the position*/
@keyframes move {
  0% {
    background-position:1400px
     }
  100% {
    background-position:0
  }
}


@media only screen and (min-width: 1800px) {
  body {
    font-size: 40px;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    font-size: 30px;
  }

  .thumbnail {
    width: 23%;
  }
  #project1 {
  height: 10%;
}
}

@media only screen and (max-width: 1000px) {
  .thumbnail {
    width: 48%;
  }
  #project1 {
  height: 20%;
}
}

@media only screen and (max-width: 650px) {
  body {
    font-size: 16px;
  }

  header {
    position: relative;
    height: 15em;
    background-size: cover;
    background-position: center;
    padding: 0;
  }

  .sarahCurrey {
    position: absolute;
    font-size: 2em;
    top: 0;
    left: .5em;
  }

  h3, .job-title {
    position: absolute;
    font-size: 15px;
    top: 50px;
    left: 20px;
  }

#project1 {
  height: 40%;
  border: 5px solid;
  border-radius: 5px;
}

  nav {
    text-align: right;
    font-size: 1em;
    color: black;
  }

  nav a {
    display: none;
    font-size: 1.25em;
    padding-right: 1em;
  }

  nav a:hover, nav a.current {
    border-bottom: none;
  }

  #mobile {
    font-size: 2em;
    margin: .75em;
    display: block;
    padding-right: 0;
  }

  .thumbnail {
    width: 98%;
  }
}

.moreHomeCards, .moreThings{
  width: 300px;
  height: 700px;
  margin: 20px;
}

.otherHomes, .otherThings {
  display: inline-flex;
}


.manyHomes, .manyThings {
  border-top: 1px solid rgb(235, 235, 235);
  padding: 30px;

}


.bike svg {
  position: absolute;
  width: 20%;
  height: 65%;
}

#back_wheel {
    animation: spin 3.5s linear infinite;
    transform-origin: 115px 425px;
}
#front_wheel {
    animation: spin 3.5s linear infinite;
    transform-origin: 400px 432px;
}

@keyframes spin {
  0% { transform:rotate(0deg); }
  100% { transform:rotate(360deg); }
}

